# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [2]:
import pandas as pd
import numpy as np

In [3]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [5]:
black_friday.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [6]:
black_friday.shape

(537577, 12)

In [24]:
n_observacoes = black_friday.shape[0]
n_colunas = black_friday.shape[1]

In [7]:
black_friday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     537577 non-null  int64
 1   Product_ID                  537577 non-null  object
 2   Gender                      537577 non-null  object
 3   Age                         537577 non-null  object
 4   Occupation                  537577 non-null  int64
 5   City_Category               537577 non-null  object
 6   Stay_In_Current_City_Years  537577 non-null  object
 7   Marital_Status              537577 non-null  int64
 8   Product_Category_1          537577 non-null  int64
 9   Product_Category_2          370591 non-null  float64
 10  Product_Category_3          164278 non-null  float64
 11  Purchase                    537577 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 49.2+ MB

In [8]:
black_friday['Age'].unique()

array(['0-17', '55+', '26-35', '46-50', '51-55', '36-45', '18-25'],
      dtype=object)

In [23]:
black_friday.loc[black_friday['Age'] == '26-35'].head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
9,1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,7871
10,1000005,P00251242,M,26-35,20,A,1,1,5,11.0,NaN,5254
11,1000005,P00014542,M,26-35,20,A,1,1,8,NaN,NaN,3957
12,1000005,P00031342,M,26-35,20,A,1,1,8,NaN,NaN,6073

In [26]:
black_friday.loc[black_friday['Age'] == '26-35'].shape

(214690, 12)

In [29]:
#Genero Feminino com idade entre 26 e 35
black_friday.loc[(black_friday['Age'] == '26-35') & (black_friday['Gender'] == 'F')].head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
47,1000011,P00192642,F,26-35,1,C,1,0,8,17.0,NaN,6171
48,1000011,P00110842,F,26-35,1,C,1,0,1,2.0,5.0,19327
49,1000011,P00189642,F,26-35,1,C,1,0,8,13.0,NaN,8027
124,1000024,P00346642,F,26-35,7,A,3,1,8,NaN,NaN,2230
125,1000024,P00205642,F,26-35,7,A,3,1,5,8.0,NaN,6940

In [44]:
black_friday.nunique()

User_ID                        5891
Product_ID                     3623
Gender                            2
Age                               7
Occupation                       21
City_Category                     3
Stay_In_Current_City_Years        5
Marital_Status                    2
Product_Category_1               18
Product_Category_2               17
Product_Category_3               15
Purchase                      17959
dtype: int64

In [43]:
black_friday['User_ID'].nunique()

5891

In [46]:
black_friday.describe()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,5.375770e+05,537577.00000,537577.000000,537577.000000,370591.000000,164278.000000,537577.000000
mean,1.002992e+06,8.08271,0.408797,5.295546,9.842144,12.669840,9333.859853
std,1.714393e+03,6.52412,0.491612,3.750701,5.087259,4.124341,4981.022133
min,1.000001e+06,0.00000,0.000000,1.000000,2.000000,3.000000,185.000000
25%,1.001495e+06,2.00000,0.000000,1.000000,5.000000,9.000000,5866.000000
50%,1.003031e+06,7.00000,0.000000,5.000000,9.000000,14.000000,8062.000000
75%,1.004417e+06,14.00000,1.000000,8.000000,15.000000,16.000000,12073.000000
max,1.006040e+06,20.00000,1.000000,18.000000,18.000000,18.000000,23961.000000

In [49]:
black_friday.dtypes

User_ID                         int64
Product_ID                     object
Gender                         object
Age                            object
Occupation                      int64
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
Purchase                        int64
dtype: object

In [18]:
black_friday.dtypes.count()

12

In [20]:
tipos_colunas = black_friday.dtypes.unique().shape[0]
tipos_colunas

3

In [55]:
black_friday.isna().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            166986
Product_Category_3            373299
Purchase                           0
dtype: int64

In [22]:
registros_nulos = black_friday.isna().sum(axis=1).loc[lambda x : x>0].count()

In [25]:
porcentagem_registros_nulos = float(registros_nulos/n_observacoes)
porcentagem_registros_nulos

0.6944102891306734

In [59]:
#Numero de nulos por linha
black_friday.isna().sum(axis=1)

0         2
1         0
2         2
3         1
4         2
         ..
537572    1
537573    0
537574    1
537575    2
537576    1
Length: 537577, dtype: int64

In [61]:
black_friday.isna().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            166986
Product_Category_3            373299
Purchase                           0
dtype: int64

In [62]:
black_friday.isna().sum().max()

373299

In [101]:
black_friday['Product_Category_3'].mode()

0    16.0
dtype: float64

In [40]:
black_friday_purchase = black_friday['Purchase']
black_friday_purchase

0          8370
1         15200
2          1422
3          1057
4          7969
          ...
537572    11664
537573    19196
537574     8043
537575     7172
537576     6875
Name: Purchase, Length: 537577, dtype: int64

In [41]:
media_purchase = black_friday_purchase.mean()
media_purchase

9333.859852635065

In [42]:
desvio_padrao_purchase = black_friday_purchase.std()
desvio_padrao_purchase

4981.022132656479

In [45]:
black_friday_purchase_padronizado = (black_friday_purchase - media_purchase) / desvio_padrao_purchase
black_friday_purchase_padronizado

0        -0.193506
1         1.177698
2        -1.588401
3        -1.661679
4        -0.274012
            ...
537572    0.467804
537573    1.979943
537574   -0.259156
537575   -0.434019
537576   -0.493646
Name: Purchase, Length: 537577, dtype: float64

In [53]:
black_friday_purchase_padronizado.loc[lambda x: (x >= -1) & (x <= 1)]

0        -0.193506
4        -0.274012
9        -0.293687
10       -0.819081
12       -0.654657
            ...
537571    0.505547
537572    0.467804
537574   -0.259156
537575   -0.434019
537576   -0.493646
Name: Purchase, Length: 348631, dtype: float64

In [54]:
black_friday_purchase_padronizado.loc[lambda x: (x >= -1) & (x <= 1)].count()

348631

In [55]:
black_friday_purchase_normal = (black_friday_purchase - black_friday_purchase.min()) / (black_friday_purchase.max() - black_friday_purchase.min())
black_friday_purchase_normal

0         0.344255
1         0.631519
2         0.052027
3         0.036676
4         0.327389
            ...
537572    0.482798
537573    0.799588
537574    0.330501
537575    0.293868
537576    0.281376
Name: Purchase, Length: 537577, dtype: float64

In [56]:
black_friday_purchase_normal.mean()

0.3847939036269795

In [4]:
black_friday['Product_Category_2'].isna().sum()

166986

In [5]:
black_friday['Product_Category_3'].isna().sum()

373299

In [11]:
black_friday['Product_Category_2'].isna().loc[lambda x: x == True]

0         True
2         True
4         True
9         True
11        True
          ...
537563    True
537565    True
537566    True
537568    True
537575    True
Name: Product_Category_2, Length: 166986, dtype: bool

In [10]:
black_friday['Product_Category_3'].isna().loc[lambda x: x == True]

0         True
2         True
3         True
4         True
5         True
          ...
537570    True
537572    True
537574    True
537575    True
537576    True
Name: Product_Category_3, Length: 373299, dtype: bool

In [19]:
product_category_2_index = black_friday['Product_Category_2'].isna().loc[lambda x: x == True].index
product_category_2_index

Int64Index([     0,      2,      4,      9,     11,     12,     21,     22,
                23,     26,
            ...
            537532, 537540, 537548, 537550, 537557, 537563, 537565, 537566,
            537568, 537575],
           dtype='int64', length=166986)

In [18]:
product_category_3_index = black_friday['Product_Category_3'].isna().loc[lambda x: x == True].index
product_category_3_index

Int64Index([     0,      2,      3,      4,      5,      7,      8,      9,
                10,     11,
            ...
            537565, 537566, 537567, 537568, 537569, 537570, 537572, 537574,
            537575, 537576],
           dtype='int64', length=373299)

In [22]:
product_category_2_em_category3 = product_category_2_index.isin(product_category_3_index)
product_category_2_em_category3

array([ True,  True,  True, ...,  True,  True,  True])

In [26]:
total_product_category_2_em_category3 = product_category_2_em_category3.sum()
total_product_category_2_em_category3

166986

In [28]:
#Se o total de nulos (true) de Product_Category_2 que estão em Product_category_3 é igual ao total de nulos de Category 2
#entao todos os nulos de 2 estão em 3
is_total_product_category_2_em_category3 = total_product_category_2_em_category3 == black_friday['Product_Category_2'].isna().sum()
is_total_product_category_2_em_category3

True

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [12]:
def q1():
    # Retorne aqui o resultado da questão 1.
    n_observacoes = black_friday.shape[0]
    n_colunas = black_friday.shape[1]
    return (n_observacoes, n_colunas)

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [30]:
def q2():
    # Retorne aqui o resultado da questão 2.
    return black_friday.loc[(black_friday['Age'] == '26-35') & (black_friday['Gender'] == 'F')].shape[0]

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [45]:
def q3():
    # Retorne aqui o resultado da questão 3.
    return black_friday['User_ID'].nunique()

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [83]:
def q4():
    # Retorne aqui o resultado da questão 4.
    return tipos_colunas

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [88]:
def q5():
    # Retorne aqui o resultado da questão 5.
    return porcentagem_registros_nulos

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [63]:
def q6():
    # Retorne aqui o resultado da questão 6.
    return int(black_friday.isna().sum().max())

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [107]:
def q7():
    # Retorne aqui o resultado da questão 7.
    return int(black_friday['Product_Category_3'].mode())

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [57]:
def q8():
    # Retorne aqui o resultado da questão 8.
    return float(black_friday_purchase_normal.mean())

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [58]:
def q9():
    # Retorne aqui o resultado da questão 9.
    return int(black_friday_purchase_padronizado.loc[lambda x: (x >= -1) & (x <= 1)].count())

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [29]:
def q10():
    # Retorne aqui o resultado da questão 10.
    return bool(is_total_product_category_2_em_category3)